/* Imports
---------------------------------------------------------------------------------------------------- */
@use './variables' as v;



/* Icon mixin
---------------------------------------------------------------------------------------------------- */
@mixin icon($style: 'normal', $size: 'm', $color: 'black') {
	transform: rotate(0.03deg);
	direction: ltr;
	display: inline-block;
	font-family: 'Material Symbols Outlined';
	-webkit-font-feature-settings: 'liga';
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	transition: color v.$transition-medium linear;


	/* Style
	-------------------------------------------------- */
	@if ($style == 'thick') {
		font-family: 'Material Symbols Outlined Thick';
	}

	@if ($style == 'filled') {
		font-family: 'Material Symbols Filled';
	}


	/* Size
	-------------------------------------------------- */
	@if ($size == 'l') {
		font-size: 32px;
	}

	@if ($size == 'm') {
		font-size: 24px;
	}

	@if ($size == 's') {
		font-size: 18px;
	}


	/* Colour
	-------------------------------------------------- */
	@if ($color == 'black') {
		color: v.$color_black;
	}

	@if ($color == 'grey') {
		color: v.$color_grey_light_1;
	}

	@if ($color == 'white') {
		color: v.$color_white;
	}

	@if ($color == 'primary') {
		color: v.$color_primary;
	}
}
