/* Imports
---------------------------------------------------------------------------------------------------- */
// Variables
@use '../../../scss/partials/variables' as v;



/* Search container
---------------------------------------------------------------------------------------------------- */
.component_search {
	display: flex;
	flex-wrap: wrap;
	gap: v.$gap_2;
}
