<!-- Search
==================================================================================================== -->
<div class='search'>


	<!-- Field
	================================================== -->
	<div class='field'>
		<!-- Search field
		================================================== -->
		<div class='searchField'>
			<div class='icon'>search</div>
			<input type='text' placeholder='Search by fund name or code'>
			<button class='searchButton'>
				<div class='icon'>search</div>
			</button> <!-- .searchButton -->
		</div> <!-- .searchField -->

		<!-- Suggestions
		================================================== -->
		<div class='suggestions hidden'></div>
	</div> <!-- .field -->


	<!-- Filters
	================================================== -->
	<button class='filterButton hidden'>
		<div class='icon'>tune</div>
		<div class='text'>Filter results</div>
	</button> <!-- .filterButton -->

	<div class='filters hidden'>
		<div class='top'>
			<div class='title'>Filter results</div>
			<button class='closeButton'>
				<div class='icon'>close</div>
			</button> <!-- .closeButton -->
		</div> <!-- .top -->

		<form>
			<div class='filter'>
				<div class='label'>Fund size</div>
				<div class='fields'>
					<input type='number' placeholder='Min' name='fundSize_min'>
					<input type='number' placeholder='Max' name='fundSize_max'>
				</div> <!-- .fields -->
			</div> <!-- .filter -->

			<div class='filter'>
				<div class='label'>Management fee (%)</div>
				<div class='fields'>
					<input type='number' placeholder='Min' step='0.01' name='managementFee_min'>
					<input type='number' placeholder='Max' step='0.01' name='managementFee_max'>
				</div> <!-- .fields -->
			</div> <!-- .filter -->

			<div class='filter'>
				<div class='label'>1 year return (%)</div>
				<div class='fields'>
					<input type='number' placeholder='Min' name='oneYearReturn_min'>
					<input type='number' placeholder='Max' name='oneYearReturn_max'>
				</div> <!-- .fields -->
			</div> <!-- .filter -->

			<div class='filter'>
				<div class='label'>Five year return (%)</div>
				<div class='fields'>
					<input type='number' placeholder='Min' name='fiveYearReturn_min'>
					<input type='number' placeholder='Max' name='fiveYearReturn_max'>
				</div> <!-- .fields -->
			</div> <!-- .filter -->

			<div class='filter'>
				<div class='label'>Fund category</div>
				<div class='fields'>
					<div class='selectContainer'>
						<select name='fundCategory'>
							<option value='' selected>All categories</option>
							<option value='example_category'>Example category</option>
						</select> <!-- .fundCategory -->
						<div class='icon'>keyboard_arrow_down</div>
					</div> <!-- .selectContainer -->
				</div> <!-- .fields -->
			</div> <!-- .filter -->

			<div class='filter'>
				<div class='label'>Investment sustainability</div>
				<div class='fields'>
					<input type='text' placeholder='Enter keywords' name='investmentSustainability'>
				</div> <!-- .fields -->
			</div> <!-- .filter -->

			<div class='filter'>
				<div class='label'>Management approach</div>
				<div class='fields'>
					<input type='text' placeholder='Enter keywords' name='managementApproach'>
				</div> <!-- .fields -->
			</div> <!-- .filter -->

			<div class='filter'>
				<div class='label'>Divident frequency</div>
				<div class='fields'>
					<div class='selectContainer'>
						<select name='fundCategory'>
							<option value='' selected>All frequencies</option>
							<option value='annual'>Annual</option>
							<option value='quarterly'>Quarterly</option>
							<option value='monthly'>Monthly</option>
							<option value='weekly'>Weekly</option>
						</select> <!-- .fundCategory -->

						<div class='icon'>keyboard_arrow_down</div>
					</div> <!-- .selectContainer -->
				</div> <!-- .fields -->
			</div> <!-- .filter -->
		</form>
	</div> <!-- .filters -->


	<!-- Results
	================================================== -->
	<div class='results'>
		<!-- Results table
		========================= -->
		<table class='resultsTable'>
			<thead>
				<tr>
					<th></th>
					<th>
						<div class='headerContainer'>
							<div class='text'>Code</div>
							<div class='icon'>keyboard_arrow_down</div>
						</div> <!-- .headerContainer -->
					</th>
					<th class='sort desc'>
						<div class='headerContainer'>
							<div class='text'>Fund name</div>
							<div class='icon'>keyboard_arrow_down</div>
						</div> <!-- .headerContainer -->
					</th>
					<th class='hide_l'>
						<div class='headerContainer'>
							<div class='text'>Type</div>
							<div class='icon'>keyboard_arrow_down</div>
						</div> <!-- .headerContainer -->
					</th>
					<th class='hide_l'>
						<div class='headerContainer'>
							<div class='text'>Fund size</div>
							<div class='icon'>keyboard_arrow_down</div>
						</div> <!-- .headerContainer -->
					</th>
					<th class='hide_s'>
						<div class='headerContainer'>
							<div class='text'>1 year<span class='hide_m'> return</span></div>
							<div class='icon'>keyboard_arrow_down</div>
						</div> <!-- .headerContainer -->
					</th>
					<th class='hide_s'>
						<div class='headerContainer'>
							<div class='text'>5 year<span class='hide_m'> return</span></div>
							<div class='icon'>keyboard_arrow_down</div>
						</div> <!-- .headerContainer -->
					</th>
					<th class='hide_s'>
						<div class='headerContainer'>
							<div class='text'>Cost p/a</div>
							<div class='icon'>keyboard_arrow_down</div>
						</div> <!-- .headerContainer -->
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<button class='expandCollapseButton'>
							<div class='icon'>keyboard_arrow_down</div>
						</button> <!-- .expandCollapseButton -->
					</td>
					<td>
						<div class='fundCode'>
							<div class='text'>A200</div>
						</div> <!-- .fundCode -->
					</td>
					<td>
						<div class='text'>Australia 200 ETF</div>
					</td>
					<td class='hide_l'>
						<div class='text'>ETF</div>
					</td>
					<td class='hide_l'>
						<div class='text'>6829</div>
					</td>
					<td class='hide_s'>
						<div class='text'>5.26%</div>
					</td>
					<td class='hide_s'>
						<div class='text'>15.73%</div>
					</td>
					<td class='hide_s'>
						<div class='text'>0.04%</div>
					</td>
				</tr>
				<tr class='expandCollapseContent'>
					<td colspan='8'>
						<div class='description'>The world's lowest cost Australian shares index ETF</div>

						<div class='infoContainer'>
							<div class='info hidden show_l'>
								<div class='title'>Type</div>
								<div class='text'>EFT</div>
							</div> <!-- .info -->

							<div class='info hidden show_l'>
								<div class='title'>Fund size</div>
								<div class='text'>6829</div>
							</div> <!-- .info -->

							<div class='info hidden show_s'>
								<div class='title'>1 year return</div>
								<div class='text'>5.26%</div>
							</div> <!-- .info -->

							<div class='info hidden show_s'>
								<div class='title'>5 year return</div>
								<div class='text'>15.73%</div>
							</div> <!-- .info -->

							<div class='info hidden show_s'>
								<div class='title'>Cost p/a</div>
								<div class='text'>0.04%</div>
							</div> <!-- .info -->

							<div class='info'>
								<div class='title'>Categories</div>
								<div class='text'>Diversified, Australian Shares</div>
							</div> <!-- .info -->

							<div class='info'>
								<div class='title'>Investment sustainability</div>
								<div class='text'>Capital growth and regular income</div>
							</div> <!-- .info -->

							<div class='info'>
								<div class='title'>Management approach</div>
								<div class='text'>Passive</div>
							</div> <!-- .info -->

							<div class='info'>
								<div class='title'>Dividend frequency</div>
								<div class='text'>Quarterly</div>
							</div> <!-- .info -->
						</div> <!-- .infoContainer -->
					</td>
				</tr> <!-- .expandCollapseContent -->
			</tbody>
		</table> <!-- .resultsTable -->


		<!-- Skeleton loading
		========================= -->
		<table class='skeletonLoading hidden'>
			<thead>
				<tr>
					<th><div class='box'></div></th>
					<th><div class='box'></div></th>
					<th><div class='box'></div></th>
					<th class='hide_l'><div class='box'></div></th>
					<th class='hide_l'><div class='box'></div></th>
					<th class='hide_s'><div class='box'></div></th>
					<th class='hide_s'><div class='box'></div></th>
					<th class='hide_s'><div class='box'></div></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><div class='box'></div></td>
					<td><div class='box'></div></td>
					<td colspan='6'><div class='box'></div></td>
				</tr>
				<tr>
					<td><div class='box'></div></td>
					<td><div class='box'></div></td>
					<td colspan='6'><div class='box'></div></td>
				</tr>
				<tr>
					<td><div class='box'></div></td>
					<td><div class='box'></div></td>
					<td colspan='6'><div class='box'></div></td>
				</tr>
			</tbody>
		</table> <!-- .skeletonLoading -->


		<!-- Pagination
		========================= -->
		<div class='pagination hidden'>
			<div class='buttons'>
				<button class='prev disabled'>
					<div class='icon'>keyboard_arrow_left</div>
				</button> <!-- .prev -->

				<div class='pages'>
					<button class='page selected'>
						<div class='text'>1</div>
					</button>
					<button class='page'>
						<div class='text'>2</div>
					</button>
					<button class='page'>
						<div class='text'>3</div>
					</button>
					<button class='page'>
						<div class='text'>4</div>
					</button>
					<button class='page'>
						<div class='text'>5</div>
					</button>
					<button class='page'>
						<div class='text'>6</div>
					</button>
					<button class='page'>
						<div class='text'>7</div>
					</button>
					<button class='page ellipsis'>
						<div class='text'>...</div>
					</button>
					<button class='page'>
						<div class='text'>10</div>
					</button>
				</div> <!-- .pages -->

				<button class='next'>
					<div class='icon'>keyboard_arrow_right</div>
				</button> <!-- .next -->
			</div> <!-- .buttons -->

			<div class='resultsText'>
				Showing results 1 - 10 of 100
			</div> <!-- .resultsText -->
		</div> <!-- .pagination -->


		<!-- No results
		========================= -->
		<div class='noResults hidden'>
			<div class='title'>Sorry, we could not find any results for "<i>typed value</i>".</div>
			<div class='text'>Try searching for something else or <a href='https://www.betashares.com.au/fund/'>view all funds</a></div>
		</div> <!-- .noResults -->
	</div> <!-- .results -->


</div> <!-- .search -->
